@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+RO:wght@100..400&display=swap');

:root{
    --cor-bg-header: #4A4E69 ;
    --cor-bg-main: #F2E9E4;
    --cor-bg-footer: #22223B;
    --cor-logo: #F2E9E4;
    --cor-nav: #FFFFFF;
    --fonte-padrao: "Roboto", sans-serif;
    --fonte-destaque: "Playwrite RO", cursive;
}