@import url(root.css);
@import url(media.query.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    padding: 1rem;
}

#logo:hover{
    cursor: pointer;
}

nav{
    padding: 1rem;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}

#navegacao-itens li:hover{
    cursor: pointer;
}

main{
    padding: 2rem 0;
    text-align: center;
}

#nome-da-categoria{
    padding: 2rem 0 1rem 0;
}

#resultadoLivros{
    padding: 2rem 5rem 0 5rem;
    display: flex;
    gap: 5rem;
    overflow-x: scroll;
}

#resultadoLivros section{
    display: flex;
    padding: 2rem 0;
    gap: 1rem;
    align-items: center;
}

#livro-capa{
    height: 200px;
}

#livro-info{
    width: 300px;
}

footer{
    display: flex;
    justify-content: space-between;
}

footer div{
    padding: 1rem;
}