@import url(root.css);
@import url(media.query.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--fonte-padrao);
    background-color: var(--cor-bg-main);
}

a{
    text-decoration: none;
    color: var(--cor-nav);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-bg-header);
}

#logo{
    padding: 1rem 2rem;
}

#logo:hover{
    cursor: pointer;
}

#logo-nome{
    font-family: var(--fonte-destaque);
    color: var(--cor-logo);
}

nav{
    padding: 1rem 2rem;
}

#navegacao-itens{
    list-style: none;
    display: flex;
    gap: 1rem;
}

#navegacao-itens li{
    color: var(--cor-nav);
}

#navegacao-itens li:hover{
    cursor: pointer;
    border-bottom: 1px solid #FFFFFF;
}

main{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#secao-principal{
    position: relative;
    display: block;
}

#secao-principal-texto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 12px;
    padding: 2rem;
}

#secao-principal-texto-titulo{
    font-size: 3rem;
    padding-bottom: 1rem;
}

#secao-principal-texto-conteudo{
    font-size: 1.3rem;
}

#secao-principal-img{
    display: block;
    height: 100vh;
    width: 100%;
}

#secao-livros{
    text-align: center;
}

#nome-da-categoria{
    padding: 2rem 0 1rem 0;
}


input{
    padding: var(--padding-busca);
}

select{
    padding: var(--padding-busca);
    text-align: center;
}

#buscar{
    padding: var(--padding-busca);
    background-color: var(--cor-bg-footer);
    color: var(--cor-nav);
}

#resultadoLivros{
    margin: 2rem 6rem;
    display: flex;
    gap: 5rem;
    overflow-x: scroll;
}

#mensagem-erro{
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

#resultadoLivros section{
    display: flex;
    padding: 2rem 0;
    gap: 1rem;
    align-items: center;
}

#livro-capa{
    height: 200px;
}

#livro-info{
    width: 300px;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-bg-footer);
    color: var(--cor-nav);
}

footer div{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}